/.direnv/
/.packwiz-cache/
/packs/
/templates/
**/dist/
**/pack.local.yaml
**/template.local.yaml
**/__pycache__/
**/*.pyc
*.mrpack
*.zip

# huroshiki transactions and state
/.huroshiki/
/.ruff_cache/
